---
id: home
title: Home
layout: default

hero: /assets/devices.png
hero-title: Welcome to Kankoda

description: We build SDKs & apps for the Apple tech stack
---

<div class="home-content paper">
  <p>
    Kankoda is <a href="/company">a software company</a> in Stockholm, Sweden. We build <a href="/products">SDKs & apps</a> for the Apple eco-system and help companies on a <a href="/projects">freelance basis</a>.
  </p>

  <p>
    Don't hesistate to <a href="mailto:{{site.email}}">reach out</a> if you need help with a project or want to build something amazing.
  </p>

  <section>
    <h2>About us</h2>
    {% include kankoda/grids/grid-features.html features=site.data.home-features %}
  </section>

  {% assign sdks = site.data.products | where:"info.sdk",1 %}
  {% include products/products-section.md products=sdks title="SDKs" all-url="/sdks" %}

  {% assign apps = site.data.products | where:"info.app",1 %}
  {% include products/products-section.md products=apps title="Apps" all-url="/apps" %}
  
  <section>
    <h2>Latest news</h2>
    <div>
      <a href="/blog">Blog</a> ·
      <a href="{{ site.twitter_url }}">Twitter</a> ·
      <a href="{{ site.mastodon_url }}">Mastodon</a>
    </div>
    <p></p>
    <div class="grid blog list">
      {% for post in site.posts limit:2 %}
          <div>
            {% include kankoda/blog/post-list-item.html post=posts.first %}
          </div>
      {% endfor %}
    </div>
  </section>
</div>