.hero {

    img {
        margin: 40px;
        width: 250px;
        max-width: 650px;
    }

    img.icon {
        box-shadow: 1px 2px 1px $shadow;
    }

    .hero-line {
        margin-top: -205px;
        margin-bottom: 110px;
    }
}

.home.hero {

    img {
        width: 100%;
    }
}