{% include kankoda/gumroad/script.html %}

<section class="feature-table three-tier {{include.price}}">
  {% include kankoda/licenses/table-tiers.html tiers=include.tiers price=include.price %}    

  {% include kankoda/licenses/table-row.html row=01 feature="All Emojis" columns="✔,✔,✔" title="EmojiKit lets you work with emojis in structured ways." url="/emojikit/features/emoji" %}
  {% include kankoda/licenses/table-row.html row=02 feature="Extensions" columns="✔,✔,✔" title="EmojiKit has native emoji extensions." url="/emojikit/features/emoji" %}
  {% include kankoda/licenses/table-row.html row=03 feature="Localization*" columns="✔,✔,✔" title="EmojiKit supports localization for all emojis and locales." url="/emojikit/features/localization" %}
  {% include kankoda/licenses/table-row.html row=04 feature="Search" columns="✔,✔,✔" title="EmojiKit supports localization for all emojis and locales." url="/emojikit/features/emoji" %}
  {% include kankoda/licenses/table-row.html row=05 feature="Unicode Information" columns="✔,✔,✔" title="EmojiKit has unicode-specific properties that are used for identity and naming." url="/emojikit/features/emoji" %}
  
  <hr />

  {% include kankoda/licenses/table-row.html row=01 feature="Grid" columns="-,✔,✔" title="EmojiKit has a versatile emoji grid." url="/emojikit/features/ui-components" %}
  {% include kankoda/licenses/table-row.html row=02 feature="Picker" columns="-,✔,✔" title="EmojiKit has a versatile emoji picker." url="/emojikit/features/ui-components" %}
  
  <hr />

  {% include kankoda/licenses/table-row.html row=01 feature="Categories" columns="-,-,✔" title="EmojiKit defines all emoji categories and their emojis." url="/emojikit/features/categories" %}
  {% include kankoda/licenses/table-row.html row=02 feature="Skin Tones" columns="-,-,✔" title="EmojiKit provides you with skin tone information for all emojis." url="/emojikit/features/skintones" %}
  {% include kankoda/licenses/table-row.html row=03 feature="Version Information" columns="-,-,✔" title="EmojiKit defines emoji versions, OS availability and their emojis." url="/emojikit/features/version-info" %}
  
  <hr />

  {% include kankoda/licenses/table-row.html row=01 feature="Onboarding call" columns="-,-,Optional" title="The optional onboarding call lets us understand your needs to help you get started." url="/pricing/addons" %}
  {% include kankoda/licenses/table-row.html row=02 feature="Monthly call" columns="-,-,Optional" title="The optional monthly call lets us keep in sync and move your products forward." url="/pricing/addons" %}
  {% include kankoda/licenses/table-row.html row=03 feature="Additional bundles" columns="-,-,Add-on" title="Additional bundle IDs can be added to an existing license at a discounted price." url="/pricing/addons" %}
  {% include kankoda/licenses/table-row.html row=04 feature="Support" columns="-,GitHub,E-mail" title="The higher tiers include priority support and can pay extra for dedicated support." url="/pricing/support" %}
  
  <hr />

  <div class="grid footer">
    <div class="feature"></div>
    {% for tier in include.tiers %}
    <div>
        {% if tier.monthly_price_year %}
        <a href="{{site.gumroad_url}}" class="cta scale">
          Sign Up
        </a>
        {% endif %}
    </div>
    {% endfor %}
  </div>
</section>